.site-layout-wrap {
	background: url(../img/main-section-back.jpg) repeat;
	font-weight: bold;	
	font-size: 14px;
	line-height: 24px;
}
.site-layout-wrap:before {
	display: none;
}
header {
	padding-bottom: 1px;
	border-bottom: 3px solid #242424;
}
.page-content {
	padding: 55px 0;
}
.page-title {
	font-size: 30px;
	line-height: 42px;	
	margin-bottom: 20px;
}
.page-breadcrumbs {
	font-size: 0;
	margin-bottom: 60px;
}
.page-breadcrumbs-item {
	display: inline-block;
	font-size: 14px;
}
.page-breadcrumbs-item:not(:first-child):before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	margin: -3px 15px 0;
	width: 6px;
	height: 6px; 
	background: #000;
	transform: rotate(45deg);
}
.page-breadcrumbs a {
	color: #000;	
}
.page-content-heading {
	font-size: 48px;
	line-height: 42px;
	margin: 0 0 70px;
	text-align: center;
	overflow: hidden;
}
.page-content-heading span {
	position: relative;
	display: inline-block;
}
.page-content-heading span:before,
.page-content-heading span:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background: #000;
	top: 50%;
}
.page-content-heading span:before {
	right: 100%;
	margin-right: 25px;
}
.page-content-heading span:after {	
	left: 100%;
	margin-left: 25px;
}
.layout-two-col-wrapper {
	display: flex;
}
.layout-two-col-wrapper:not(:last-child) {
	margin-bottom: 60px;
}
.half-page {
	flex: 1;
}
.content-heading {
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 35px;
}
.brands-list {
	
}
.brands-list li {	
	position: relative;
	padding-left: 20px;	
}
.brands-list li:before {
	content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -3px;
    width: 6px;
    height: 6px;
    background: #000;
    transform: rotate(45deg);
}
.brands-list li:not(:last-child) {
	margin-bottom: 25px;
}
.price-table {
	border-collapse: collapse;
	width: 100%;
}

.price-table, .price-table td {
	border: 2px solid #000;
}
.price-table td {
	width: 50%;
	padding: 14px 15px;
}
.price-table td:not(:first-child) {
	text-align: center;
}

.price-page-info {
	max-width: 80%;
}

footer {
	position: relative;
}
footer:before {
	content: "";
    position: absolute;
    top: 0;
    height: 60px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), transparent);
}

@media (max-width: 768px) {
	section {
		text-align: center;
	}
	.layout-two-col-wrapper {
		flex-direction: column;		
	}
	.price-page-info {
		max-width: 100%;
		text-align: justify;
	}
	.brands-list {
		display: inline-block;
	}
	.half-page:nth-child(odd) {
		margin-bottom: 30px;
	}
}